.slide-show {
    position: relative;
    width: 600px;
    margin: 100px auto;
    height: 500px;
    overflow: hidden;
  }
  
  .slide-show-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide {
    /* display: inline-block; */
    height: 500px;
    width: 500px;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  
  .nextArrow {
    position: absolute;
    top: 25%;
    right: 0px;
    z-index: 999;
    color: #fff;
  }
  
  .backArrow {
    position: absolute;
    top: 25%;
    left: 0px;
    z-index: 999;
    color: #fff;
  }
  
  .fa-arrow-right:before, .fa-arrow-left:before {
    color: #222
  }
  
  .img {
    position: relative;
    max-width:100%;
    max-height:100%;
  }

  @keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }

@keyframes slide-to-left {
  0% { left: 500px}
  100% { left: 0; }
}

@keyframes slide-to-right {
  0% { left: -500px}
  100% { left: 0; }
}